*{
    margin: 0;
    padding: 0;
}

ul{
    margin: 0;
    padding: 0;
}

li{
    list-style: none;
}

body{
    background-color: #E5e5e5;
}

.main-container{
    padding: 20px;
    position: relative;
    top: 50px;
    
}
.management-content{
    border-radius: 0 10px 10px 0;
}